body{
    background-color: rgb(223, 236, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: darkblue;
}
h1{
    border-bottom: black;
    color: red;
    font-size: 16px;
    text-align: center;
}
a{
   color: rgb(73, 8, 73);
   text-decoration-line: underline;  
}
a:hover{
   font-size: larger; 
}
figcaption{
    font-style: italic;
    text-align: right;
    font-size: 10px;
    color: black;
}
